@model BLL.CoreEntities.Entities.Category

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayName("Picture")
        </dt>
        <dd>
            @{
                if (Model.Picture != null)
                {
                    <img style='width: 110px; height: 80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" />
                }
                else
                {
                    <img style='width: 110px; height: 80px;' src="/Pictures/noData.jpeg" />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <div>
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
</div>
