@model IEnumerable<BLL.CoreEntities.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <a class="btn bg-info" asp-action="Create">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.CategoryId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
